[submodule "examples"]
	path = examples
	url = https://github.com/gnostr-org/gnostr-py-example.git
	ignore = dirty
	depth = shallow
[submodule "gnostr-aio"]
	path = aio
	url = https://github.com/gnostr-org/gnostr-py-example.git
